{% extends 'gestionarDestinos/base.html' %}
    {% load static %}
    {% block contenido  %}
    {% load humanize %}
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                         
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{{blog.image.url}}" alt="">
                                <div class="blog-date">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="bg-white mb-3" style="padding: 30px;">
                            <div class="d-flex mb-3">
                                <a class="text-primary text-uppercase text-decoration-none" href="">Autor:{{blog.autor}}</a>
                                <span class="text-primary px-2">|</span>
                                <a class="text-primary text-uppercase text-decoration-none" href=""></a>
                            </div>
                            <h2 class="mb-3">{{blog.nombre}}</h2>
                            <p>{{blog.descripcion}}</p>
                         
                        </div>
                    </div>
                    <!-- Blog Detail End -->
                        {%for comentario in blog.comentario_set.all%}
                    <!-- Comment List Start -->
                    <div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;"></h4>
                        <div class="media mb-4">
                            
                            <div class="media-body">
                                <img src="{% static 'gestionarDestinos/img/icons8-avatar-48.png   '%}" alt="Image" class="img-fluid mr-3 mt-1"  >
                                <h6>{{comentario.nombre}}</a> <small><i>{{comentario.created}}</i></small></h6>
                                <p>{{comentario.comentario}}</p>
                                
                            </div>
                            <a href= "{% url 'borrarcoment' blog.id comentario.id  %}" onclick="return confirm('Esta seguro que desea elminar el comentario')">ELIMINAR</a>
                        </div>
                        {%  endfor  %}
                        
                    </div>
                    
                    <!-- Comment List End -->
    
                    <!-- Comment Form Start -->
                    {%if user.is_authenticated%}
                    <div class="bg-white mb-3" style="padding: 30px;">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Deja un Comentario</h4>
                        <form action= "{% url 'crearcoment' blog.id %}" method="POST">
                            {% csrf_token %}
    
                            <div class="form-group">
                                <label for="message">Mensaje</label>
                                <textarea id="message" cols="30" rows="5" class="form-control" name="{{blog.id}}-comentario"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" value="Deja un comentario"
                                    class="btn btn-primary font-weight-semi-bold py-2 px-3">
                            </div>
                        </form>
                        {%else%}
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Debes estar autenticado para comentar</h4>
                        {%endif%}
                    </div>
                    <!-- Comment Form End -->
                </div>
                {% endblock  %}
                


    